@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

body {
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
}

.title-container {
  margin: 0;
  padding: 5px;
  color: #fff;
  text-align: center;
  background-color: #235d9e;
}

.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
}

.hamburger-menu-container img {
  width: 50px;
}

.map-container {
  margin: 0;
  width: 75%;
  height: 100vh;
}

.main-container {
  display: flex;
}

.main-container.horizontal {
  flex-direction: column;
}

.infowindow-container {
  display: flex;
  flex-direction: column;
}

.infowindow-container h3 {
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.infowindow-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infowindow-details {
  text-align: center;
  margin-left: 5px;
  width: 140px;
}

.infowindow-details p {
  font-size: 13px;
  margin: 5px;
}

.search-container {
  width: 25%;
  background-color: #104142;
  height: 100vh;
}

.search-container.searchOnTop {
  display: flex;
  width: 100%;
  height: 100%;
}

.search-container h2 {
  color: #fff;
  text-align: center;
}

.search-container-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-container-inner input {
  font-size: 16px;
  height: 50px;
  outline: 0;
  border: none;
  padding: 0 0 0 20px;
}

.search-container-inner .places-list {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #585858;
  width: 230px;
}

.search-container-inner .places-list li {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.search-container-inner .places-list li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .search-container {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .search-container {
    display: none;
  }

  .hamburger-menu-container {
    display: block;
  }

  .map-container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .title-container {
    display: flex;
  }

  .title-inner {
    margin-left: auto;
    margin-right: 50px;
  }
}

@media screen and (max-width: 430px) {
  .title-inner {
    margin-right: 30px;
  }

  .title-inner h1 {
    font-size: 25px;
  }

  .title-inner p {
    font-size: 14px;
  }

  .hamburger-menu-container {
    top: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 430px) {
  .title-inner {
    margin-right: 10px;
  }

  .title-inner h1 {
    font-size: 20px;
  }

  .title-inner p {
    font-size: 12px;
  }
}